.carousel,.slide{
position:relative;
width: 1000px;
height: 600px;
margin-top: 10%;
margin-left: 20%;

}

#carouselExampleIndicators{
    background-color: red;
    margin-top: 50px;
}
#carouselExampleIndicators>button{
    background-color: #8eada9;
    width: 50px;
    height: 100px;
    margin-top: 25%;
}
#carouselExampleIndicators>.carousel-indicators>button{
    background-color: #8eada9;
    
}
.imgcl{
    width:100px;
    height:600px;
}
img.d-block.w-100.imgcl {
    border: #56967a;
    border-width: thick;
    border-style: solid;
}
#demotext {
    text-shadow: 2px 2px 7px rgba(65,148,112,0.62);
    color: #56967A;
    background: #FFFFFF;
    margin-top: 50px;
    margin-left: 400px;
    font-size: 60px;
}
/* nav bar css*/
body{
    margin:0 auto;
}
#navbarScroll{
    margin-left: 25%;
    font-size: 20px;
}
.navbar{
    background-color:#56967a;
}
.icons{
    padding:0 20px;
    color:white;
}
.icons:hover{
    padding:0 20px;
    color:#079156;
}
.nav-item{
    padding: 20px;
}

